<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body style="height: 2000px;">
    <div class="col-12">
        <!-- Menu superior -->
        <div class="row bg-primary">
            <!-- Imagen y texto -->
            <nav style="height: 100px;" class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="">
                    <img src="assets/css3-logo.png" width="40px" height="40px">
                    CSS3
                </a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                    <!-- Conceptos basicos -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Conceptos básicos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Inicio</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Prefijos de navegación</a>
                                <a class="dropdown-item" href="#">border-radius</a>
                                <a class="dropdown-item" href="#">box-shadow</a>
                                <a class="dropdown-item" href="#">Efectos de transparencia</a>
                                <a class="dropdown-item" href="#">text-shadow</a>
                                <a class="dropdown-item" href="#">Pseudo-Clases</a>
                                <a class="dropdown-item" href="#">Pseudo-Elementos</a>
                                <a class="dropdown-item" href="#">word-wrap</a>
                                <a class="dropdown-item" href="#">@font-face</a>
                            </div>
                        </li>
                        <!-- Degradados y fondos -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Fondos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Inicio</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">linear-gradient</a>
                                <a class="dropdown-item" href="#">radial-gradient</a>
                                <a class="dropdown-item" href="#">background-size</a>
                                <a class="dropdown-item" href="#">background-clip</a>
                                <a class="dropdown-item" href="#">Múltiples fondos</a>
                                <a class="dropdown-item" href="#">opacity</a>
                            </div>
                        </li>
                        <!-- Transiciones y transformaciones -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Animaciones
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Inicio</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">transition</a>
                                <a class="dropdown-item" href="#">transform</a>
                                <a class="dropdown-item" href="#">animation</a>
                            </div>
                        </li>
                        <!-- Filtros -->
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Filtros</a>
                        </li>
                    </ul>
                </div>
            </nav>    
        </div>
        </div>
        <!-- content -->
        <div class="row mt-2">
            <div class="container">
                {{ content }}
            </div>
        </div>
    </div>  


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

